
<!--using "topnav" since the coloring will all be the same-->
<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            These articles belong to <a href="https://theweek.com/" target="_blank">The Week</a>
        <a class="grey-text text-lighten-4 right" href="/articles-json"> Article JSON</a>
        </div>
    </div>
</footer>